body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 250px; 
}
.container {
    display: flex;
    margin: auto;
    justify-content: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff;
}

.profile h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 15px 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: white;
    color: darkblue;
}

.content {
    padding: 20px;
}